.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f5f5f5;
  padding: 10px 15px;
  box-shadow: 0px 3px 3px -3px #000;
  &__logo {
    img {
      height: 20px;
    }
  }
  &__input {
    min-width: 35%;
    input {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;

      border: 1px solid #d4d4d4;
      font-size: 14px;
      padding: 8px 10px;
      width: 100%;
      outline: none;
      &:focus {
        border: 1px solid #3ec2ff;
      }
    }
  }
}